<body class="book-form-background">
  <div class="wrapper book-form">

        <%= form_with(model: book, local: true) do |form| %>
          <% if book.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

              <ul>
                <% book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form.label :title, class: "book-field-label" %><br>
          <%= form.text_field :title, class: "book-field" %><br>


          <%= form.label :author, class: "book-field-label" %><br>
          <%= form.text_field :author, class: "book-field" %><br>


          <%= form.label :summary, class: "book-field-label" %><br>
          <%= form.text_area :summary, class: "book-field" %><br>

          <%= form.label :rating, class: "book-field-label" %><br>
          <%= form.number_field :rating, class: "book-field" %><br>


          <%- form.label :cover %>
          <%= form.file_field :cover %>
          <br>
          <br>

          <%= form.submit class: "btn btn-success" %>

        <% end %>

    <br>
    
    <br>
    <%= link_to 'Back', books_path, class: "btn btn-secondary" %>
  </div>

</body>
