<body class="index">

  <div class="search-section">
    <br>
    <br>
    <h1 style="color: white;">Books</h1>
    <br>
    <br>
    <!-- Search -->
    <h4 style="color: white;">Search:</h4>
      <%= form_tag(books_path, method: :get, remote: true) do %>
        <%= text_field_tag(:search, params[:search], placeholder: "Enter search...", class: "text-field") %>
        <%= submit_tag ("Search"), class: "submit btn-sm" %>
      <% end %>

    <br>

    </div>


      <div class="book-grid">
        <% @books.each do |book| %>
        <div class="card rounded">
          <div class="card-image">
            <figure class="">
              <%= image_tag (book.cover), :size => '238x335', class: "book-cover" %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title">
                  <%= book.title %>
                </p>
                <p class="book-text">
                  <%= book.author %>
                  <%= link_to 'Edit', edit_book_path(book), class: "a-primary"  %>
                </p>
              </div>

            </div>

          </div>
        </div>
        <% end %>

      </div>



    <div id="search-results">

    </div>


</body>
